<html>
    <head>
        <title>STELEDGER - Home</title>
        <link rel="stylesheet" href="/home/first-section/first-section.style.css">
        <link rel="stylesheet" href="/home/second-section/second-section.style.css">
        <link rel="stylesheet" href="/home/home.style.css">
        <link rel="stylesheet" href="/main.style.css">
        <script type="module" src="/components/navbar/navbar.component.js"></script>
    </head>

    <body>
        <main-bar></main-bar>

        <main>
            <section id="first-section" class="hero-section">
                <div class="hero-container">
                    <h1 class="title">Ste</h1>
                    <h1 class="title">Ledger</h1>
                    <p>
                        An all-in-one business management platform
                    </p>
                </div>
            </section>

            <section id="second-section" class="about-us-preview">
                <div class="about-container">
                  <div class="about-text">
                    <h3>About Us</h3>
                    <p>
                      At STELEDGER, we’re on a mission to empower businesses with smarter tools that make operations simple, transparent, and scalable.
                    </p>
                    <p>
                      We’re a team of innovators, developers, and business thinkers driven by the belief that managing a company shouldn’t be a headache. From startups to growing enterprises, we help teams stay focused on what matters.
                    </p>
                    <a href="/about.html" class="about-link">Learn more about us →</a>
                  </div>
                  <div class="about-image">
                    <img 
                        src="/images/about-us.img2.jpg" 
                        alt="Our Team" class="force-500x400-size"
                  </div>
                </div>
              </section>
        </main>
    </body>
</html>