<html>
    <head>
        <title>STELEDGER - Home</title>
        <link rel="stylesheet" href="/home/first-section/first-section.style.css">
        <link rel="stylesheet" href="/home/second-section/second-section.style.css">
        <link rel="stylesheet" href="/home/home.style.css">
        <link rel="stylesheet" href="/main.style.css">
        <script type="module" src="/components/navbar/navbar.component.js"></script>
    </head>

    <body>
        <header>
            <main-bar></main-bar>
        </header>

        <main>
            <section id="first-section" class="hero-section">
                <div class="hero-container">
                    <h1 class="title">Ste</h1>
                    <h1 class="title">Ledger</h1>
                    <p>
                        An all-in-one business management platform
                    </p>
                </div>
            </section>

            <section id="second-section" class="about-us-preview">
                <div class="about-container">
                  <div class="about-text">
                    <h3>About Us</h3>
                    <p>
                      At STELEDGER, we’re on a mission to empower businesses with smarter tools that make operations simple, transparent, and scalable.
                    </p>
                    <p>
                      We’re a team of innovators, developers, and business thinkers driven by the belief that managing a company shouldn’t be a headache. From startups to growing enterprises, we help teams stay focused on what matters.
                    </p>
                    <a href="/about.html" class="about-link">Learn more about us →</a>
                  </div>
                  <div class="about-image">
                    <img 
                        src="https://imagekit.io/tools/asset-public-link?detail=%7B%22name%22%3A%22photo-1594588466226-71316e6f65aa.avif%22%2C%22type%22%3A%22image%2Favif%22%2C%22signedurl_expire%22%3A%222028-04-13T23%3A27%3A34.911Z%22%2C%22signedUrl%22%3A%22https%3A%2F%2Fmedia-hosting.imagekit.io%2F0f91ceaccfc8494b%2Fphoto-1594588466226-71316e6f65aa.avif%3FExpires%3D1839281255%26Key-Pair-Id%3DK2ZIVPTIP2VGHC%26Signature%3DEqIVZAtw~imNHwuGbuo4G3jNQdE-6zHRk9Dn3MTzrV-EIAWn90ILsQp69EFqZYrfmMIMtwKmzKrLKb-zyooEbyCLUV6jMuG8oH8L58D7BDB7wOk5DiDIdD3rbbtgWuDoPfA-~QA1-RYfDTS084HoxRn3Xs2tRze1V4Io-KuL9Mc8v4ouq4UR871X3RvXgF-eyjKP0wZB7fxxbDYg6cu~RkcokleZZ5DcT-pP0Uh4QWFJFfEQm5YT9u-9JboH0u5bbmxB2Ks26NrG9IVrwTMdk5FyaN0tlAcUriP~RglTqDvO55IF0ab86ZR1A2EGK4xqvPkJ9o76h2NCKN2VdaoOXA__%22%7D" 
                        alt="Our Team" class="500x400-forced-size"
                    >
                  </div>
                </div>
              </section>
        </main>
    </body>
</html>