<html>
    <head>
        <link rel="stylesheet" href="/fonts.style.css">
        <link rel="stylesheet" href="/variables.style.css">
        <link rel="stylesheet" href="/backgrounds.style.css">

        <link rel="stylesheet" href="/main.style.css">
        <link rel="stylesheet" href="/register-page/register.style.css">

        <link rel="stylesheet" href="/formulary-pack.style.css"">

        <script type="module" src="/components/navbar/navbar.component.js"></script>
    </head>

    <body>
        <main-bar></main-bar>

        <main>
            <section id="first-section" class="register-section bg-config">
                <div class="container">
                    <h2>Register</h2>
                    <form>
                        <label for="display-name">Display Name:</label>
                        <input type="display-name" placeholder="~~~~~~~~">

                        <label for="username">Username:</label>
                        <input type="usermane" placeholder="~~~~~~~~">

                        <label for="password">Password:</label>
                        <input type="password" placeholder="~~~~~~~~">

                        <button type="submit">Send</button>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>