/* ------------------------------------------------------
   INICIALIZACIÓN Y RESET
--------------------------------------------------------*/

/* Restablecer márgenes y paddings de todos los elementos */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Establecer una fuente base utilizando variables */
body {
  font-family: var(--font-primary); /* Usamos la fuente Poppins desde la variable */
  font-weight: var(--fw-regular); /* Peso Regular como base */
  line-height: 1.6; /* Espaciado entre líneas */
  font-size: 16px; /* Tamaño de fuente base */
  color: var(--color-light); /* Color de texto base */
  background-color: var(--color-main); /* Fondo oscuro */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------------------
   ELEMENTOS GENERALES
--------------------------------------------------------*/

/* Estilos para el body */
body {
  background-color: var(--color-main);
  color: var(--color-light);
}

/* Estilo base para los encabezados */
h1, h2, h3 {
  color: var(--color-light);
  font-family: var(--font-primary);
  font-weight: var(--fw-bold); /* Títulos con Bold */
}

/* Subtítulos (h2) */
h2 {
  font-weight: var(--fw-semibold); /* Subtítulos con SemiBold */
}

/* Enlaces */
a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: var(--fw-medium); /* Enlaces con Medium */
}

a:hover {
  color: var(--color-light);
}

section {
  height: calc(100vh - 80px);
}

/* ------------------------------------------------------
   BOTONES
--------------------------------------------------------*/

button {
  background-color: var(--color-secondary);
  color: var(--color-light);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: var(--font-primary); /* Fuente personalizada */
  font-weight: var(--fw-semibold); /* Peso SemiBold para botones */
  transition: background-color 0.3s ease;
  border-radius: 15px;
}

button:hover {
  background-color: var(--color-button-hover);
}

/* ------------------------------------------------------
   PIE DE PÁGINA
--------------------------------------------------------*/

footer {
  background-color: var(--color-tertiary);
  color: var(--color-main);
  padding: 20px;
  text-align: center;
  font-size: 14px;
  font-family: var(--font-primary);
  font-weight: var(--fw-light); /* Pie de página con font-light */
}

/* ------------------------------------------------------
   ELEMENTOS GENERALES DE TIPO CONTAINER
--------------------------------------------------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: var(--font-primary);
  font-weight: var(--fw-regular); /* Cuerpo con font-weight regular */
  border-radius: 15px;
  background-color: var(--color-main);
}

/* ------------------------------------------------------
   BACKGROUNDS
--------------------------------------------------------*/

.bg-readonly {
  background-color: #f4f4f4;
}

.bg-config {
  color: var(--color-main);
  background-image: var(--floating-cogs), linear-gradient(to left, var(--color-main), var(--color-secondary));
  background-repeat: repeat;
  background-position: center;
}

.bg-interactive {
  background-color: #fff3cd;
}